@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans);

ul, li {
    list-style: none;
}

li {
    display: list-item;
}

.presidentList {
    display: inline-block;
    /*border: solid pink;*/

}

.navbar-default{
    /*background-color: rgba(255,193,203,0.7);*/
    background-color: transparent;
}

body {
    font-family: 'Roboto', sans-serif;
}

.WriteForm {
    /*border: solid pink;*/
    background-color: rgb(255, 255, 255);
}

.board_view_head {
    display: inline-block;
    width: 100%;
    border-bottom: 1px dotted #ddd;
}

.board_view_body {
    padding: 15px 0;
    color: #666;
    line-height: 18px;
    border-bottom: 1px solid #efefef;
    overflow: hidden;
    white-space: pre-line;
    font-size: 15pt
}

.etc {
    float: right;
    margin: 0 5px;
    font: 11px/13px dotum;
}

em {
    margin: 0 5px;
    font-style: normal;

}

.board_view_head_title {
    float: left;
    font: bold 14px/16px dotum;
}

.board_author {
    float: left;
    margin: 3px 0 0 10px;
    font: 11px/13px dotum;
}

.board_view_author {
    margin: 3px 0 0 10px;
    font: 11px/13px dotum;
}

.board_view {
    border-top: solid #99a2aa;
}

.titmebyComment {
    margin-left: 5px;
}

.voteButton {
    padding: 10px;
}

body {
    background: url("./images/jang.png") no-repeat fixed;
    background-size: 100% 100%;
    padding-top: 70px;
}

.rootcontents {
    background-color: rgba(255, 255, 255, 0.7);
}

.piechart {
    display: inline-block;
}

.giantFont {
    font-size: 38px;
}

.board_list_item {
    background-color: white;
}

.presidentImage {
    margin-bottom: 16px;
}

.datalist {
    border-top: solid 1px;
    margin-top: 21px;
    overflow: hidden;
}
.commentTitleBox{
    margin-top: 20px;
}
.contactProfile{
    /*background: black;*/
    display: inline-block;
    margin-bottom: 53px;
}.eachProfile{
    float: right;
 }
 .ranklist{
     margin-bottom: 20px;
 }
div.social-wrap button{
    padding-left: 27px;
    height: 35px;
    border: none;
    background-size: 35px 35px;
    border-radius: 4px;
    color: white;
    font-family: "Merriweather Sans", sans-serif;
    font-size: 14px;
    margin-bottom: 15px;
    width: 197px;
    border-bottom: 2px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    box-shadow: 0 4px 2px -2px grey;
    text-shadow: rgba(0, 0, 0, .5) -1px -1px 0;
}
button.facebookbt{
    border-color: #2d5073;
    background: #3b5998 url(http://icons.iconarchive.com/icons/danleech/simple/512/facebook-icon.png) no-repeat left center;
    margin-top: 20px;
}
.facebookFont{
    color: white;
}
.primaryKeypk{
    margin-right: 10px;
}
.ddayconf{
    margin-top: 23px;
}
.fixednav{
    position: fixed;
    z-index: 2;
}
.makeback{
    background-color: rgba(255, 173, 207, 0.7);
}