/**
 * Created by thesky on 2017-02-16.
 */
.controller {
    top: 0;
    left: 0;
    width: 160px;
    padding-left: 40px;
    background-color: #99995d;
}
.NOTICE{
    position: relative;
    top:25px;
}
.bookList{
    background-color: blue;
}
.commentBox{
    /*border:solid black 1px;*/
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.commentList{
    padding:0;
    list-style-type: none;
    overflow: auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentForm {
    width:100%;
}
.commentInner{
    width:100%;
    /*border:solid black 1px;*/
    /*-webkit-border-radius:5px;*/
    /*-moz-border-radius:5px;*/
    /*border-radius:5px;*/
}
.view-contents{
    margin: 40px 0;
}
ul {
    list-style: none
}
.comic_content{

}
.comic_content > ul{

}
.commentBorder{
    /*border:solid 1px;*/
    /*border-bottom: 0;*/
    /*-webkit-border-radius:5px;*/
    /*-moz-border-radius:5px;*/
    /*border-radius:5px;*/
}
.commentDate{
    float: right;
    margin-left: 3%;
    /*margin-right:0;*/
    /*right:0;*/
}
.commentTopBox{
    display: block;
}
b{
    font-size:15px;
}
.authorBox{
    margin-right: 10pt;
}

input[type=checkbox] {
	position: absolute;
	top: -9999px;
	left: -9999px;
}
.tobechanged{
    display: none;
}
.toogleLabel:hover{
    cursor: pointer;
}
input[type=checkbox]:checked ~ .tobechanged {
	display: block;
}
.linebreakfree{
    white-space: pre-line;
}
.noLoginTitle{
    border-bottom: solid 1px;
    font: bold 14px/16px dotum;
}