<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% load socialaccount %}
<a href="{% provider_login_url 'facebook' method='oauth2' %}">Facebook OAuth2</a>

</body>
</html>